@import "./variables/global";
@import "./reset";
@import "./thems/dark";
@import "./thems/normal";
@import "./thems/orange";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
    font-family: var(--font-family-main);
}

.content-page {
    display: flex;
    width: 100%;
}

* {
    scrollbar-color: var(--inverted-primary-color) var(--primary-color); /* Цвет скролла, цвет ползунка */
    scrollbar-width: auto; /* Толщина скролла thin, auto */
}

*::-webkit-scrollbar-track {
    background-color: var(--card-bg); /* Цвет скролла */
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    transition: all 0.4s;
    border-radius: 8px; /* Закругление ползунка */
    background-color: var(--inverted-primary-color); /* Цвет ползунка */
    border: 1px solid var(--primary-color);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--inverted-bg-color); /* Цвет ползунка */
}

*::-webkit-scrollbar {
    width: 1em; /* Толщина скролла */
    height: 1em;
}
