@import "./variables/global";
@import "./reset";
@import "./thems/dark";
@import "./thems/normal";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
    font-family: var(--font-family-main);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
