.ArticleDetails {
    min-height: calc(100% - var(--navbar-heigt));
}

.center {
    margin: 0 auto 20px;
}

.title {
    margin-top: 20px;
}

.skeleton {
    margin-top: 20px;
}

.articleInfo {
    display: flex;
}

.icon {
    margin-right: 20px;
}

.avatarWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.block {
    margin-top: 15px;
}
