.link {
    margin-left: 10px;
    opacity: 1;
}

.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.icon {
    fill: var(--secondary-color);
}

.collapsed {
    .link {
        display: none;
    }
}
