.Sidebar {
    min-height: 100%;
    width: 220px;
    background: var(--light-bg-redesigned);
    border-radius: 32px;
    transition: all 0.3s;
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.lang {
    margin-left: 20px;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
    background: var(--light-bg-redesigned);
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}

.items {
    margin-top: 20px;
}

.link {
    margin-left: 10px;
    opacity: 1;
}

.item {
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.icon {
    fill: var(--primary-color);
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .lang {
        margin: 0;
    }

    .link {
        display: none;
    }

    .item {
        margin-left: 0;
        justify-content: center;
    }
}
