.ArticleList {
	width: 100%;
	height: 100%;
	//overflow-y: hidden;
	//margin-left: 40px;
}

.BIG {
	.card {
		margin-bottom: 10px;
	}
}

.SMALL {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.itemContainer {
    gap: 0.5rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    box-sizing: border-box;

}
