.ArticleList {
    margin-top: 8px;
    height: calc(65vh - var(--navbar-heigt));
}

.BIG {
    .card {
        margin-bottom: 10px;
    }
}

.SMALL {
    display: flex;
    gap: 8px;

    .wrap {
        flex-wrap: nowrap;
    }
}

.itemContainer {
    margin-top: 16px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    box-sizing: border-box;
}
