.ListBox {
    position: relative;
}

.trigger {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.label {
    color: var(--primary-color);
}

.topRight {
    bottom: 100%;
    left: 0;
}

.topLeft {
    bottom: 100%;
    right: 0;
}

.bottomRight {
    top: 100%;
    left: 0;
}

.bottomLeft {
    top: 100%;
    right: 0;
}

.options {
    background: var(--listbox);
    position: absolute;
    z-index: 101;
    border-radius: 6px;
    box-shadow: 4px 4px 10px;
    width: 100%;
}

.item {
    list-style: none;
}

.active {
    background: var(--inverted-primary-color);
}

.disabled {
    opacity: 0.7;
}
