.title {
    font-size: var(--font-size-l);
    color: var(--primary-color);

    .thin {
        font-weight: 300;
    }

    .normal {
        font-weight: 600;
    }

    .bold {
        font-weight: 900;
    }
}

.text {
    font-size: var(--font-size-m);
    color: var(--primary-color);

    .thin {
        font-weight: 300;
    }

    .normal {
        font-weight: 600;
    }

    .bold {
        font-weight: 900;
    }
}

.inverted {
    .title {
        color: var(--inverted-primary-color);
    }

    .text {
        color: var(--inverted-secondary-color);
    }
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.size_s {
    .title {
        font-size: var(--font-size-m);
    }

    .text {
        font-size: var(--font-size-s);
    }
}

.size_m {
    .title {
        font-size: var(--font-size-l);
    }

    .text {
        font-size: var(--font-size-m);
    }
}

.size_l {
    .title {
        font-size: var(--font-size-xl);
    }

    .text {
        font-size: var(--font-size-l);
    }
}
