.Drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.content {
    height: 50%;
    background: var(--bg-color);
    bottom: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px;
    transition: 0.4s transform;
    transform: translateY(100%);
    overflow-y: auto;
    overflow-x: hidden;
}

.opened {
    opacity: 1;
    pointer-events: auto;
    z-index: var(--modal-z-index);

    .content {
        transform: translateY(0%);
    }
}



.sheet {
    z-index: var(--modal-z-index);
    position: fixed;
    height: calc(100vh + 100px);
    width: 100vw;
    border-radius: 12px 12px 0;
    background: var(--bg-color);
    touch-action: none;
    padding: 15px;
}
.anker {
    width: 90px;
    height: 10px;
    border-radius: 5px;
    background: var(--inverted-bg-color);
    margin: 0 auto 16px;
}

.isClosing {
    .content {
        transform: translateY(100%);
    }
}
