.MainLayout {
    min-height: 100%;
    display: grid;
    grid-template-areas: "sidebar content rightbar";
    grid-template-columns: 284px 1fr 176px;
    width: 100%;
    overflow-y: auto;
}

.sidebar {
    grid-area: sidebar;
    align-items: center;
    padding: 32px;
}

.content {
    justify-self: center;
    grid-area: content;
    width: 100%;
    max-width: 1200px;
    padding: 32px;
    height: 100%;
}

.rightbar,
.sidebar {
    top: 0;
    height: 100vh;
    position: sticky;
}

.rightbar {
    display: flex;
    flex-direction: column;
    grid-area: rightbar;
    padding: 24px;
}

.header {
    justify-self: end;
}

.toolbar {
    align-self: end;
}
