.Navbar {
    width: 100%;
    height: var(--navbar-heigt);
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    transition: all 0.3s;
}

.logout {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}

.appName {
    width: var(--sidebar-widh);
    margin-left: 15px;
}
