.app_dark_theme {
    --bg-color: #202124;
    --inverted-bg-color: #ffd3b5;
    --primary-color: #318f03;
    --secondary-color: #1426c4;
    --inverted-primary-color: #1426c4;
    --inverted-secondary-color: #49d30a;
    --card-bg: #3b3d42;
    --card-bg-opacity-0: rgb(59 61 66 / 0%);

    // skeletons
    --skeleton-color: #096b00;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #323438;

    // listbox
    --listbox: #3b3d42;
}
