.app_dark_theme {
    --bg-color: #202124;
    --inverted-bg-color: #ffd3b5;
    --primary-color: #49d30a;
    --secondary-color: #1426c4;
    --inverted-primary-color: #1426c4;
    --inverted-secondary-color: #49d30a;
}
