.app_light_theme {
    --bg-color: #ffe1d5;
    --inverted-bg-color: #202124;
    --primary-color: #008510;
    --secondary-color: #3f6dfd;
    --inverted-primary-color: #3f6dfd;
    --inverted-secondary-color: #00a811;

    // redesigned
    --dark-bg-redesigned: #fff;
    --bg-redesigned: #eff5f6;
    --light-bg-redesigned: #e2eef1;
    --text-color-redesigned: #141c1f;
    --hint-redesigned: #adbcc0;
    --cancel-redesigned: #f77;
    --save-redesigned: #62de85;
    --icon-redesigned: #5ed3f3;
    --accent-redesigned: #00c8ff;

    // card
    --card-bg: #dac2b8;
    --card-bg-opacity-0: rgb(218 194 184 / 0%);

    // skeletons
    --skeleton-color: #fff;
    --skeleton-shadow: #8f6a2d;

    // code
    --code-bg: #efefef;

    // listbox
    --listbox: #dac2b8;
}
