.app.light {
    --bg-color: #ffd3b5;
    --inverted-bg-color: #202124;
    --primary-color: #011270;
    --secondary-color: #7ad1fc;
    --inverted-primary-color: #7ad1fc;
    --inverted-secondary-color: #011270;
}
