.app_light_theme {
    --bg-color: #ffd3b5;
    --inverted-bg-color: #202124;
    --primary-color: #017010;
    --secondary-color: #001660;
    --inverted-primary-color: #001660;
    --inverted-secondary-color: #017010;
}
