.app_orange_theme {
    --bg-color: #e38400;
    --inverted-bg-color: #030201;
    --primary-color: #773200;
    --secondary-color: #9c4803;
    --inverted-primary-color: #9c4803;
    --inverted-secondary-color: #fff;
    --card-bg: #ab6508;
    --card-bg-opacity-0: rgb(171 101 8 / 0%);

    // skeletons
    --skeleton-color: #9c4803;
    --skeleton-shadow: #fcc729;

    // code
    --code-bg: #ff9f26;

    // listbox
    --listbox: #3b3d42;
}
